<div class="navbar-container">
    <ul class="menu menu-hover-lines">
        <li class="home nav-menu-item"><a href="/">Home</a></li>
        <% if(currentUser) { %>
            <li class="wikis nav-menu-item"><a href="/wikis/">Wikis</a></li>
            <li class="profile nav-menu-item"><a href="/users/<%= currentUser.id %>">My Profile</a></li>
            <li class="sign-out nav-menu-item"><a href="/users/signout">Sign out</a></li>
            <% } else { %>
                <li class="sign-up"><a href="/users/sign_up">Sign up</a></li>
                <li class="sign-in"><a href="/users/sign_in">Sign in</a></li>
                <% }%>
    </ul>
</div>