<nav>
    <div class="nav-wrapper teal lighten-2">
        <a href="/" class="brand-logo">Rockipedia</a>
        <ul>
            <% if(currentUser) { %>
                <li><a href="/wikis/">Wikis</a></li>
                <li><a href="/users/<%= currentUser.id %>">My Profile</a></li>
                <li><a href="/users/signout">Sign out</a></li>
                <% } else { %>
                    <li><a href="/users/sign_up">Sign up</a></li>
                    <li><a href="/users/sign_in">Sign in</a></li>
                    <% }%>
        </ul>

    </div>
</nav>