<!-- 

<ul class="menu menu-hover-lines">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  
   -->

<!-- <header class="sticky-shrinknav-header">
    <h1 class="sticky-shrinknav-header-title">Pickipedia</h1> -->
<div class="navbar-container">
    <ul class="menu menu-hover-lines">
        <li class="home active nav-menu-item"><a href="/">Home</a></li>
        <% if(currentUser) { %>
            <li class="wikis nav-menu-item"><a href="/wikis/">Wikis</a></li>
            <li class="profile nav-menu-item"><a href="/users/<%= currentUser.id %>">My Profile</a></li>
            <li class="sign-out nav-menu-item"><a href="/users/signout">Sign out</a></li>
            <% } else { %>
                <li class="sign-up"><a href="/users/sign_up">Sign up</a></li>
                <li class="sign-in"><a href="/users/sign_in">Sign in</a></li>
                <% }%>
    </ul>
</div>
<!-- </header> -->



<!-- <nav>
    <div class="nav-wrapper teal lighten-2">
        <a href="/" class="brand-logo">Pickipedia</a>
        <ul>
            <% if(currentUser) { %>
                <li><a href="/wikis/">Wikis</a></li>
                <li><a href="/users/<%= currentUser.id %>">My Profile</a></li>
                <li><a href="/users/signout">Sign out</a></li>
                <% } else { %>
                    <li><a href="/users/sign_up">Sign up</a></li>
                    <li><a href="/users/sign_in">Sign in</a></li>
                    <% }%>
        </ul>

    </div>
</nav> -->