<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>    
        <main class="container">
                <% include ../static/partials/navbar.ejs %>
            <h1>Add collaborators</h1>

            <form action="/wikis/<%= wikiId %>/collaborator/results" method="post">
                <input type="text" name="username" placeholder="Search for a collaborator by username">
                <button type="submit">Search for This User</button>
            </form>

        </main>

        <% include ../static/partials/baseScripts.ejs %>

</body>

</html>