<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>
<body>    

        <main class="container">
                <% include ../static/partials/navbar.ejs %>
            <p>The following users match your search:</p>

            <% collaboratorData.user.forEach((user) => { %>
                <p>
                    <form method="post" action="/wikis/<%= collaboratorData.wiki.id %>/collaborator/add/<%= user.id %>/<%= user.username %>">
                        <%= `Username: ${user.username}` %>
                            <button type="submit" name="user">Add as collaborator</button>
                    </form>
                </p>
                <%  }) %>


        </main>

        <% include ../static/partials/baseScripts.ejs %>

</body>

</html>