<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <div class="collaborator-search">
      <h1 class="header-text">Add collaborators</h1>

      <form
        class="collaborator-search-form"
        action="/wikis/<%= wikiId %>/collaborator/results"
        method="post"
      >
        <input
          class="collaborator-search-form-input"
          type="text"
          name="username"
          placeholder="Search for a collaborator by username"
        />
        <button class="button-positive" type="submit">Search</button>
      </form>
    </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
