<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>

        <main class="container">

            <h1>You have successfully added a collaborator to this wiki.</h1>

        </main>

        <% include ../static/partials/baseScripts.ejs %>

</body>

</html>