<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>    

        <main class="container">
            <% include ../static/partials/navbar.ejs %>
            <% include ../static/partials/messages.ejs %>

                <h4>Create a new wiki</h4>

                <form action="/wikis/create" method="post">
                    <div class="form-group">
                        <label for="title">Wiki title</label>
                        <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
                    </div>
                    <div class="form-group">
                        <label for="body">Body</label>
                        <textarea rows="30" height="300" class="form-control" name="body" placeholder="Enter Body"></textarea>
                    </div>
                    <% if (currentUser.role > 0) { %>
                        <label for="private">Would you like to make this wiki private?</label>
                        <select name="private" style="display: block">
                        <option value='false' selected>Public</option>
                        <option value='true'>Private</option>
                        </select>
                        <% } %>
                            <button type="submit" class="btn wiki-submit btn-primary">Submit</button>
                </form>
        </main>
        <% include ../static/partials/baseScripts.ejs %>

</body>

</html>