<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <!-- Navigation -->

    <!-- Page Content -->
    <main class="container">
      <% include ./partials/navbar.ejs %> <% include ./partials/messages.ejs %>

      <div class="home-hero">
        <div class="flip-card-inner">
          <div class="homepage-description">
            <h4>Welcome to Pickipedia!</h4>
          </div>
          <div class="flip-card-inner-front"></div>
          <p>
            An open source encyclopedia for chronicling the shows, bands, and
            people who comprise the live roots and Americana music scene in New
            York City.
          </p>
        </div>

      </div>
    </main>
    <!-- /.container -->

    <% include ./partials/baseScripts.ejs %>
    <script src="../../js/index.js"></script>
  </body>
</html>
