<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

        <% include ../static/partials/messages.ejs %>

        <div class="account-change-message">
        <h1 class="header-text">You have successfully downgraded to a basic Pickipedia account</h1>
        <p>Thanks for using Pickipedia. Any time you'd like to upgrade again, you know what to do. </p>
    </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>