<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>    

    <main class="container">
        <% include ../static/partials/navbar.ejs %>

        <% include ../static/partials/messages.ejs %>

        <div class="account-change-message">
        <h1 class="header-text">Downgrade to a basic account</h1>

        <p>You have decided that premium Pickipedia just isn't for you, and that is completely fine and okay. Just know that all of the private wikis you created
            when you were a premium person will become public when your downgrade is confirmed.</p>
        <p>Even as a basic member, you will be able to create and edit public wikis. We hope that you will continue to use and enjoy Pickipedia, regardless of your user status.</p>
        <p>We still love you very much.</p>
                <form action="/users/<%=currentUser.id%>/downgrade" method="POST">
                    <button type="submit" class="button-negative">Downgrade</button>
                </form>
        </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>