<!DOCTYPE html>

<html>

  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h2>Upgrade your account to premium!</h2>

      <hr>

      <form action="/users/<%= currentUser.id %>/updatepremium" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="sk_test_2G5XIkKpmH0NQfehzrHZfKdA00SXR7o9H9"
          data-amount="1500"
          data-name="Stripe.com"
          data-description="Premium Account Charge"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-zip-code="true">
        </script>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>

</html>