<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>    
        <main class="container">
                <% include ../static/partials/navbar.ejs %>
            <% include ../static/partials/messages.ejs %>
                <h1 class="header-text">
                    <%= `Hey there, ${currentUser.username}!` %>
                </h1>
                <% if (currentUser.role === 0) { %>
                    <p>Account level: Basic</p>                
                        <form action="/users/<%=currentUser.id%>/upgrade_form" method="GET">
                            <button id="upgradeButton" class="button-positive">
                    Click to upgrade account
                </button>
                        </form>
                    </p>
                    <% } else if (currentUser.role === 1) { %>
                        <p>Account level: Premium</p>    
                            <form action="/users/<%=currentUser.id%>/downgrade_form" method="GET">
                                <button id="upgradeButton" class="button-negative">
                    Click to downgrade account
                </button>
                        <% } %>
        </main>
        <% include ../static/partials/baseScripts.ejs %>
</body>

</html>