<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body> 

        <main class="container">
                <% include ../static/partials/navbar.ejs %>
            <% include ../static/partials/messages.ejs %>

                <div class="form-container">
                    <form class="callout text-center" action="/users/sign_in" method="POST">
                        <div class="floated-label-wrapper">
                            <label for="full-name">Username</label>
                            <input type="text" class="form-input" id="full-name" name="username" placeholder="Username" name="name">
                        </div>
                        <div class="floated-label-wrapper">
                            <label for="full-name">Email</label>
                            <input type="email" class="form-input"  id="full-name" name="email" placeholder="Email" name="username">
                        </div>
                        <div class="floated-label-wrapper">
                            <label for="email">Password</label>
                            <input type="password" class="form-input" id="email" name="password" placeholder="Password">
                        </div>
                        <input class="button expanded sign-up-submit" type="submit" value="Sign In">
                    </form>
                </div>
        </main>

        <% include ../static/partials/baseScripts.ejs %>
        <script src="../../js/index.js"></script>
</body>

</html>