<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <p>
        You have successfully upgrated to a premium Pickipedia account. You can
        now create private wikis visible only to other premium members, and
        invite other members to collaborate on your wikis.
      </p>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
