<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

        <% include ../static/partials/messages.ejs %>

        <h1>Upgrade!</h1>

        <h2>Premium access to Pikipedia is amazing.<h2>


    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>